service: usrv-kpoints
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs18.x
  lambdaHashingVersion: 20201221
  environment:
    KPOINTS_ACCOUNTS_TABLE: ${self:resources.Resources.accounts.Properties.TableName}

  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - dynamodb:PutItem
        - dynamodb:DeleteItem
        - dynamodb:Scan
        - dynamodb:UpdateItem
        - dynamodb:GetItem
        - dynamodb:BatchWriteItem
      Resource: "*"

functions:
  createTransaction:
    handler: src/createTransactionHandler.createTransaction
    events:
      - httpApi:
          path: /transaction/create
          method: post
  processKushkiPoints:
    handler: src/processKPointsHandler.processKPoints
    events:
      - stream:
          type: dynamodb
          batchSize: 1
          startingPosition: LATEST
          arn:
            Fn::GetAtt:
              - transactions
              - StreamArn
          maximumRetryAttempts: 0


plugins:
  - serverless-plugin-typescript

resources:
  Resources:
    transactions:
      Type: "AWS::DynamoDB::Table"
      Properties:
        TableName: qa-usrv-kpoints-card-transactions
        AttributeDefinitions:
          - AttributeName: transaction_id
            AttributeType: S
        KeySchema:
          - AttributeName: transaction_id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES
    accounts:
      Type: "AWS::DynamoDB::Table"
      Properties:
        TableName: qa-usrv-kpoints-accounts
        AttributeDefinitions:
          - AttributeName: documentNumber
            AttributeType: S
        KeySchema:
          - AttributeName: documentNumber
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES

